/* CSS Document */
@charset "utf-8";
body { margin: 0px; padding: 0px; top: 0; width: 100%; font-family: 'Open Sans', sans-serif; background:#050715; overflow-x: hidden;}
img { border: 0; max-width: 100%; }
p, h1, h2, h3, h4, h5, h6, ul, li { margin: 0px; padding: 0px; list-style-type: none; }
.clear { clear: both; line-height: 0; font-size: 0; margin: 0px; padding: 0px; }
textarea, button, select, input[type="search"], input[type="text"], input[type="email"], input[type="submit"], input[type="button"]{ -webkit-appearance: none; 
-webkit-border-radius: 0;}
div { margin: 0px; padding: 0px; }
form { margin: 0; padding: 0; }

*{ box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box;}
, :before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#wapper{width:100%;}

html {
  scroll-behavior: smooth;
}
@font-face {
    font-family: 'br_firmaregular';
    src: url('../fonts/br_firma_regular-webfont.eot');
    src: url('../fonts/br_firma_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/br_firma_regular-webfont.woff2') format('woff2'),
         url('../fonts/br_firma_regular-webfont.woff') format('woff'),
         url('../fonts/br_firma_regular-webfont.svg#br_firmaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'br_firmabold';
    src: url('../fonts/br_firma_bold-webfont.eot');
    src: url('../fonts/br_firma_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/br_firma_bold-webfont.woff2') format('woff2'),
         url('../fonts/br_firma_bold-webfont.woff') format('woff'),
         url('../fonts/br_firma_bold-webfont.svg#br_firmabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'br_firmablack';
    src: url('../fonts/br_firma_black-webfont.eot');
    src: url('../fonts/br_firma_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/br_firma_black-webfont.woff2') format('woff2'),
         url('../fonts/br_firma_black-webfont.woff') format('woff'),
         url('../fonts/br_firma_black-webfont.svg#br_firmablack') format('svg');
    font-weight: normal;
    font-style: normal;

}

.logo-area{width: 100%; text-align: left; padding: 20px 0;}
.custom-sty li{padding-right:10px;}
.custom-sty li a{ font-family: 'br_firmaregular'; font-size: 16px; color: #c5cadb;}
.top-btn1{border-radius: 20px;
    background: linear-gradient(105deg, var(--token-3c705208-ad56-495b-877a-ace65f02790c, rgb(212, 49, 146)) 0%, 
    	var(--token-37499e75-32e5-4269-b0e2-4bb4c04cf1fb, rgb(97, 54, 217)) 100%);
padding:8px 25px; text-align: center; border:none; text-transform: uppercase; font-size: 14px!important; font-family: 'br_firmabold'!important;
}

.top-btn2{border-radius: 45px;
    background: linear-gradient(105deg, var(--token-3c705208-ad56-495b-877a-ace65f02790c, rgb(212, 49, 146)) 0%, 
    	var(--token-37499e75-32e5-4269-b0e2-4bb4c04cf1fb, rgb(97, 54, 217)) 100%);
padding:25px 50px; text-align: center; border:none; text-transform: uppercase; font-size: 18px!important; font-family: 'br_firmabold'!important;
}
.btn-con{width:100%;}
.top-video1{
	width:100%; margin-bottom: 60px;
}
 .cinemetic-area{
 	width:100%;
 	text-align: center;	
 	margin-bottom: 60px;
 }
 .cinemetic-area h2 {
    font-family: 'br_firmablack';
    font-size: 84px;
    color: #fff;
    padding: 0 150px 80px;
    line-height: 90px;
}
  .cinemetic-area p {
    font-family: 'br_firmaregular';
    font-size: 26px;
    color: #fff;
    padding: 0 150px 80px;
}

.detail-works-area{
 	width:100%;
 	text-align: center;	
 	margin-bottom: 60px;
 }
 .detail-works-area h2 {
    font-family: 'br_firmablack';
    font-size: 56px;
    color: #fff;
    padding: 0 150px 80px;
    line-height: 68px;
}
.detail-works-area ul{margin:0 0 60px 0; padding:0;}
.detail-works-area ul li{list-style: none; display: inline-block; padding-right:10%;}
.detail-works-area ul li:last-child{padding-right: 0;}
.detail-works-area p a{font-size: 26px; color: rgb(212, 49, 146);}
.mid-area{width: 100%; margin-top:120px;}
.mid-area h2{
	font-family: 'br_firmablack';
    font-size: 56px;
    color: #fff;
    line-height: 68px;
    padding-bottom: 30px;
}
.mid-area p {
    font-family: 'br_firmaregular';
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;
}
.new-gap{margin-bottom: 10%;}
.pink-text{color: #D43192;}
.green-text{color: rgb(0, 217, 165);}
.yellow-text{color: rgb(255, 172, 66);}
.blue-text{color: rgb(97, 54, 217);}
.story-area{width: 100%; background: url(../images/bottom-bg.jpg) top center no-repeat; background-size: cover; padding:30% 0;}
.story-area h2 {
    font-family: 'br_firmablack';
    font-size: 84px;
    color: #fff;
    padding: 0 150px 80px;
    line-height: 90px;
}

footer{border-top:1px solid #c5cadb; width: 100%; padding:5% 0 0;}

footer p{font-family: 'br_firmaregular';
    font-size: 18px;
    color: #c5cadb;
    padding-bottom: 5px;}
footer ul{margin:0; padding:0;}
footer ul li{list-style: none; display: block; padding-bottom: 5px;}
footer ul li a{
    font-family: 'br_firmaregular';
    font-size: 18px;
    color: #c5cadb;
    text-decoration: none;
}
footer ul li a:hover{
    color: #fff;
    text-decoration: none;
}
.serch-box{width:100%;}
.serch-box-lft{width:70%; display:inline-block;}
.serch-box-rht{width:28%; display: inline-block;}
.serch-box input[type="text"]{width: 100%; padding:15px; border:none; border-radius: 8px; background: #0e122f; 
    font-family: 'br_firmaregular';
    font-size: 14px;
    color: #c5cadb;}

.serch-box input[type="submit"]{
    font-size: 18px;
    border-radius: 8px;
    background-color: #D43192;
    justify-content: center;
    padding: 11px;
    width: 100px;
    font-family: 'br_firmabold';
    border:none;
    color:#fff;
}
.bottom-footer{width: 100%; border-top:1px solid #c5cadb; padding: 25px 0;}


.navbar .navbar-toggler {
    background-color: #ffffff;
    border: none;
}
 .navbar-toggler-icon {
   background: url(../images/menu-icon.png) 4px center no-repeat;
   background-size: 100%;
}











@media screen and (max-width: 1024px){



}

@media screen and (max-width: 991px){
.cinemetic-area h2{font-size: 60px; line-height: 70px; padding: 0 50px 30px;}
.cinemetic-area p{padding: 0 50px 60px;}
.detail-works-area h2{padding: 0 50px 60px;}
.detail-works-area ul li{padding-right: 5%;}
.story-area h2{padding: 0 50px 60px; font-size: 60px;
    line-height: 70px;}
.serch-box-lft{width: 68%;}
.navbar {
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
}
 .navbar-collapse {
    background: #ffffff;
    padding: 15px;
    z-index: 999;
}
.custom-sty li a{color:#121212;}
.custom-sty li{padding-bottom: 10px;}

}
@media screen and (max-width: 767px){
.cinemetic-area h2{font-size: 42px; line-height: 52px; padding: 0 15px 30px;}
.cinemetic-area p{font-size: 18px; line-height: 28px; padding: 0 15px 30px;}
.detail-works-area h2{font-size: 32px; line-height: 42px; padding: 0 15px 30px;}
.mid-area h2{font-size: 32px; line-height: 42px;}
.mid-area p{font-size: 16px; line-height: 26px; }
.story-area h2{font-size: 42px; line-height: 52px; padding: 0 15px 30px;}
.detail-works-area ul li {
    
    width: 18%;
}

}

@media screen and (max-width: 479px){


}
